workflows/pousinox_bot_v2.json
[{"updatedAt":"2026-03-19T15:13:49.005Z","createdAt":"2026-03-19T14:12:09.677Z","id":"b8eeONkcAbOrMy4T","name":"Pousinox Bot WhatsApp v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pousinox-whatsapp-v2","options":{}},"id":"4529d9d3-3b3d-406d-85ec-dabec9b68026","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,1056],"webhookId":"c7ba361c-324c-41cb-aede-ae3ddce08f9c"},{"parameters":{"jsCode":"const src = $input.first().json;\nconst body = src.body || src;\n\nconst textValue = typeof body.text === 'string'\n  ? body.text\n  : (body.text?.message || body.conversation || body.message || '');\n\nconst message = String(textValue || '').trim();\nconst rawPhone = String(body.phone || body.chatId || body.from || '').trim();\nconst digits = rawPhone.replace(/\\D/g, '');\nconst phone = digits ? (digits.startsWith('55') ? digits : `55${digits}`) : '';\nconst name = String(body.senderName || body.pushName || body.name || 'Cliente').trim() || 'Cliente';\nconst messageId = String(body.messageId || body.id || '').trim();\nconst ignore = Boolean(\n  body.fromMe === true ||\n  body.fromApi === true ||\n  body.isGroup === true ||\n  body.isNewsletter === true ||\n  body.reaction ||\n  !message ||\n  !phone\n);\n\nreturn [{\n  json: {\n    rawBody: body,\n    phone,\n    name,\n    message,\n    messageLower: message.toLowerCase(),\n    messageId,\n    ignore,\n    stateKey: `pousinox:state:${phone}`,\n    leadKey: `pousinox:lead:${phone}`\n  }\n}];"},"id":"68cd1a0a-b4e6-44bc-a03f-30836d7d4c1c","name":"Normalizar Entrada","type":"n8n-nodes-base.code","typeVersion":2,"position":[192,1056]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-ignore","leftValue":"={{ $json.ignore }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"a9f17b3a-188f-47e4-8241-93645ab32ca5","name":"Filtro Ignorar","type":"n8n-nodes-base.filter","typeVersion":2,"position":[432,1056]},{"parameters":{"operation":"get","key":"={{ $json.stateKey }}","options":{}},"id":"17d4c11a-252a-44c5-9043-bd3c1f2b09bf","name":"Buscar Estado Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[672,1056],"credentials":{"redis":{"id":"gOABTbu6U7nsu8Jq","name":"Redis account"}},"continueOnFail":true},{"parameters":{"jsCode":"const https = require('https');\n\nconst incoming = $('Normalizar Entrada').first().json;\nconst redisInput = $input.first().json || {};\nconst nowIso = new Date().toISOString();\n\nconst CONFIG = {\n  companyName: 'Pousinox',\n  commercialPhone: '5535999619463',\n  productName: 'Fixador de Porcelanato',\n  price430: 12.00,\n  price304: 15.00,\n  bonusQtyMin: 50,\n  bonusPerPiece: 0.05,\n  freeShippingStates: ['MG', 'SP', 'RJ'],\n  freeShippingQtyAbove: 100,\n  specialConditionQtyAbove: 200,\n  pagbankUrl: 'https://pousinox.sualojaonline.app',\n  originCep: '37550000',\n  melhorEnvioToken: ''\n};\n\nfunction parseStoredState(raw) {\n  const candidates = [raw.value, raw.data, raw.propertyName, raw.result, raw.redisValue, raw];\n  for (const candidate of candidates) {\n    if (!candidate) continue;\n    if (typeof candidate === 'object' && !Array.isArray(candidate) && (candidate.stage || candidate.mode)) return candidate;\n    if (typeof candidate === 'string') {\n      const cleaned = candidate.replace(/^=+/, '').trim();\n      if (!cleaned) continue;\n      try {\n        const parsed = JSON.parse(cleaned);\n        if (parsed && typeof parsed === 'object') return parsed;\n      } catch (e) {}\n    }\n  }\n  return null;\n}\n\nfunction formatMoney(value) {\n  return Number(value || 0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n}\n\nfunction isHumanRequest(text) {\n  const t = String(text || '').toLowerCase().trim();\n  return ['2', '9', 'humano', 'atendente', 'consultor', 'vendedor', 'pessoa',\n    'falar com humano', 'falar com atendente', 'quero falar com atendente',\n    'quero falar com humano'].includes(t);\n}\n\nfunction onlyDigits(value) {\n  return String(value || '').replace(/\\D/g, '');\n}\n\nfunction parseQty(message) {\n  const qty = parseInt(onlyDigits(message), 10);\n  return Number.isFinite(qty) ? qty : NaN;\n}\n\nfunction parseThickness(message) {\n  const normalized = String(message || '').replace(',', '.');\n  const match = normalized.match(/\\d+(\\.\\d+)?/);\n  if (!match) return NaN;\n  return Number(match[0]);\n}\n\nfunction requestJson(url, options = {}, payload = null) {\n  return new Promise((resolve, reject) => {\n    const req = https.request(url, options, (res) => {\n      let data = '';\n      res.on('data', chunk => data += chunk);\n      res.on('end', () => {\n        try {\n          const parsed = data ? JSON.parse(data) : {};\n          resolve({ statusCode: res.statusCode, data: parsed, raw: data });\n        } catch (err) {\n          resolve({ statusCode: res.statusCode, data: null, raw: data });\n        }\n      });\n    });\n    req.on('error', reject);\n    if (payload) req.write(payload);\n    req.end();\n  });\n}\n\nasync function consultarCep(cep) {\n  const clean = onlyDigits(cep);\n  const url = `https://viacep.com.br/ws/${clean}/json/`;\n  const result = await requestJson(url, { method: 'GET' });\n  if (!result || result.statusCode >= 400 || !result.data || result.data.erro) return null;\n  return result.data;\n}\n\nasync function cotarMelhorEnvio(toCep, quantity, unitPrice) {\n  if (!CONFIG.melhorEnvioToken || !CONFIG.originCep) {\n    return {\n      mode: 'manual',\n      label: 'Vamos cotar o melhor envio para sua região.',\n      price: null, service: null, deliveryRange: null,\n      warning: 'Configure MELHOR_ENVIO_TOKEN e POUSINOX_ORIGIN_CEP para cotação automática.'\n    };\n  }\n  const weight = Math.max(0.3, Number((quantity * 0.036).toFixed(3)));\n  const height = Math.min(25, Math.max(2, Math.ceil(quantity / 40)));\n  const payload = {\n    from: { postal_code: CONFIG.originCep },\n    to: { postal_code: onlyDigits(toCep) },\n    products: [{\n      id: 'fixador-porcelanato', width: 12, height, length: 18, weight,\n      insurance_value: Number((quantity * unitPrice).toFixed(2)), quantity: 1\n    }],\n    options: { receipt: false, own_hand: false, collect: false },\n    services: '1,2,17,18'\n  };\n  const result = await requestJson(\n    'https://www.melhorenvio.com.br/api/v2/me/shipment/calculate',\n    {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Accept': 'application/json',\n        'Authorization': `Bearer ${CONFIG.melhorEnvioToken}`,\n        'User-Agent': 'n8n-pousinox-bot'\n      }\n    },\n    JSON.stringify(payload)\n  );\n  if (!result || result.statusCode >= 400 || !Array.isArray(result.data)) {\n    return { mode: 'manual', label: 'Vamos cotar o melhor envio para sua região.', price: null, service: null, deliveryRange: null };\n  }\n  const valid = result.data\n    .filter(item => item && !item.error && Number(item.price) > 0)\n    .sort((a, b) => Number(a.price) - Number(b.price));\n  if (!valid.length) {\n    return { mode: 'manual', label: 'Vamos cotar o melhor envio para sua região.', price: null, service: null, deliveryRange: null };\n  }\n  const best = valid[0];\n  return {\n    mode: 'quoted',\n    label: `Melhor envio via ${best.name || best.company?.name || 'transportadora'}`,\n    price: Number(best.price),\n    service: best.name || best.company?.name || 'Transportadora',\n    deliveryRange: best.delivery_range || { min: best.delivery_time || null, max: best.delivery_time || null },\n    raw: best\n  };\n}\n\nfunction menuMessage() {\n  return `Olá! 👋 Bem-vindo à *${CONFIG.companyName}*\\n\\nTrabalhamos com *fixador de porcelanato* em inox. Cada peça acompanha *bucha prego*.\\n\\nComo posso te ajudar?\\n\\n1️⃣ Solicitar orçamento\\n2️⃣ Falar com alguém da equipe\\n\\nDigite 0 para voltar ao menu a qualquer momento.`;\n}\n\nfunction humanAck() {\n  return `Perfeito! 👨‍💼 Vou encaminhar seu atendimento para nosso consultor.\\n\\nEm instantes um humano continua com você por aqui.`;\n}\n\nfunction buildTags(data) {\n  const tags = [];\n  if (data.code) tags.push(data.code);\n  if (data.state) tags.push(`uf_${String(data.state).toLowerCase()}`);\n  if (data.specialCondition) tags.push('acima_200');\n  if (data.shipping?.mode === 'free') tags.push('frete_gratis');\n  if (data.mode === 'human') tags.push('aguardando_humano');\n  if (data.quantity > CONFIG.bonusQtyMin) tags.push('bonus_volume');\n  return [...new Set(tags)].join(',');\n}\n\nfunction buildSellerLeadMessage(data, title = 'Novo lead Pousinox') {\n  const lines = [\n    `📌 *${title}*`,\n    `👤 Nome: ${data.name || 'Não informado'}`,\n    `📱 WhatsApp: ${data.phone || 'Não informado'}`,\n  ];\n  if (data.inoxLabel) lines.push(`🔩 Inox: ${data.inoxLabel}`);\n  if (data.thicknessLabel) lines.push(`📐 Espessura: ${data.thicknessLabel}`);\n  if (data.quantity) lines.push(`📦 Quantidade: ${data.quantity} un.`);\n  if (data.cep) lines.push(`📮 CEP: ${data.cep}`);\n  if (data.city || data.state) lines.push(`📍 Local: ${data.city || ''}/${data.state || ''}`.replace(/\\/$/, ''));\n  if (data.shippingText) lines.push(`🚚 Frete: ${data.shippingText}`);\n  if (data.totalText) lines.push(`💰 Total: ${data.totalText}`);\n  if (data.specialCondition) lines.push(`⭐ Condição especial: pedido acima de 200 unidades.`);\n  lines.push(`🕒 Etapa: ${data.stage || 'sem etapa'}`);\n  return lines.join('\\n');\n}\n\nconst stored = parseStoredState(redisInput) || { stage: 'menu', mode: 'bot' };\nlet state = { ...stored };\n\nconst firstContactAt = state.firstContactAt || nowIso;\nconst leadCreatedAt = state.leadCreatedAt || nowIso;\n\nconst base = {\n  ...incoming,\n  stage: state.stage || 'menu',\n  mode: state.mode || 'bot',\n  customerMessage: null,\n  sellerMessage: null,\n  sendCustomer: false,\n  sendSeller: false,\n  saveLead: true,\n  saveState: true,\n  leadStatus: 'em_atendimento',\n  quote: null,\n  leadRow: null,\n  eventRow: null\n};\n\nfunction finalPayload(nextState, extras = {}) {\n  const safeState = {\n    ...nextState,\n    firstContactAt,\n    leadCreatedAt,\n    updatedAt: nowIso,\n    lastInteractionAt: nowIso,\n    phone: incoming.phone,\n    name: incoming.name\n  };\n\n  const leadRowBase = {\n    phone: incoming.phone,\n    name: incoming.name,\n    status: extras.leadStatus || 'em_atendimento',\n    stage: safeState.stage || 'menu',\n    mode: safeState.mode || 'bot',\n    inox: safeState.label || '',\n    thickness: safeState.thicknessLabel || '',\n    quantity: safeState.quantity || '',\n    cep: safeState.cep || '',\n    city: safeState.city || '',\n    state: safeState.state || '',\n    subtotal: safeState.subtotal || '',\n    discount: safeState.discount || '',\n    shipping_mode: safeState.shipping?.mode || '',\n    shipping_price: safeState.shipping?.price ?? '',\n    shipping_service: safeState.shipping?.service || '',\n    total: safeState.total || '',\n    special_condition: safeState.specialCondition ? 'sim' : 'não',\n    tags: buildTags(safeState),\n    pagbank_url: CONFIG.pagbankUrl,\n    first_contact_at: firstContactAt,\n    last_interaction_at: nowIso,\n    updated_at: nowIso,\n    source: 'whatsapp_zapi'\n  };\n\n  const eventRowBase = {\n    timestamp: nowIso,\n    phone: incoming.phone,\n    name: incoming.name,\n    stage: safeState.stage || 'menu',\n    event_type: extras.eventType || 'mensagem_recebida',\n    customer_message: incoming.message,\n    bot_message: extras.customerMessage || '',\n    status: extras.leadStatus || 'em_atendimento'\n  };\n\n  return [{\n    json: {\n      ...base,\n      ...extras,\n      stage: safeState.stage,\n      mode: safeState.mode,\n      stateKey: incoming.stateKey,\n      leadKey: incoming.leadKey,\n      stateToSave: safeState,\n      leadSnapshot: leadRowBase,\n      leadRow: leadRowBase,\n      eventRow: eventRowBase\n    }\n  }];\n}\n\nasync function main() {\n  const msg = incoming.message;\n  const msgLower = incoming.messageLower;\n\n  if (msgLower === '#reset') {\n    state = { stage: 'menu', mode: 'bot', firstContactAt, leadCreatedAt };\n    return finalPayload(state, {\n      customerMessage: `✅ Atendimento automático reativado.\\n\\n${menuMessage()}`,\n      sendCustomer: true, leadStatus: 'resetado', eventType: 'reset'\n    });\n  }\n\n  if ((state.mode || 'bot') === 'human' && msgLower !== '#reset') {\n    return finalPayload(state, {\n      sendCustomer: false, sendSeller: false,\n      leadStatus: 'aguardando_humano', eventType: 'mensagem_em_handoff'\n    });\n  }\n\n  if (msgLower === '0' || msgLower === 'menu') {\n    state = { stage: 'menu', mode: 'bot', firstContactAt, leadCreatedAt };\n    return finalPayload(state, {\n      customerMessage: menuMessage(), sendCustomer: true,\n      leadStatus: 'menu', eventType: 'menu'\n    });\n  }\n\n  if (isHumanRequest(msgLower)) {\n    state = { ...state, stage: 'human', mode: 'human', firstContactAt, leadCreatedAt };\n    return finalPayload(state, {\n      customerMessage: humanAck(),\n      sellerMessage: buildSellerLeadMessage({\n        ...state, name: incoming.name, phone: incoming.phone,\n        inoxLabel: state.label,\n        totalText: state.total ? formatMoney(state.total) : '',\n        shippingText: state.shipping?.mode === 'free' ? 'Frete grátis' : state.shipping?.service || ''\n      }, 'Cliente pediu atendimento humano'),\n      sendCustomer: true, sendSeller: true,\n      leadStatus: 'aguardando_humano', eventType: 'handoff_humano'\n    });\n  }\n\n  const stage = state.stage || 'menu';\n\n  if (stage === 'menu') {\n    if (['1', 'orcamento', 'orçamento', 'fixador', 'fixadores'].includes(msgLower)) {\n      state = { ...state, stage: 'ask_inox', mode: 'bot', firstContactAt, leadCreatedAt };\n      return finalPayload(state, {\n        customerMessage: `Perfeito! Vamos montar seu orçamento de *fixador de porcelanato*.\\n\\nQual inox você precisa?\\n\\n1️⃣ *Inox 430* — uso geral, melhor custo-benefício\\n2️⃣ *Inox 304* — ideal para ambientes litorâneos\\n\\n_Obs.: cada peça acompanha bucha prego._`,\n        sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'inicio_orcamento'\n      });\n    }\n    return finalPayload({ stage: 'menu', mode: 'bot', firstContactAt, leadCreatedAt }, {\n      customerMessage: menuMessage(), sendCustomer: true,\n      leadStatus: 'menu', eventType: 'menu'\n    });\n  }\n\n  if (stage === 'ask_inox') {\n    const inoxMap = {\n      '1': { code: 'inox_430', label: 'Inox 430', unitPrice: CONFIG.price430 },\n      '2': { code: 'inox_304', label: 'Inox 304', unitPrice: CONFIG.price304 }\n    };\n    const selected = inoxMap[msgLower];\n    if (!selected) {\n      return finalPayload(state, {\n        customerMessage: `Por favor, escolha uma opção válida:\\n\\n1️⃣ Inox 430\\n2️⃣ Inox 304`,\n        sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'validacao_inox'\n      });\n    }\n    state = { ...state, ...selected, stage: 'ask_thickness', firstContactAt, leadCreatedAt };\n    return finalPayload(state, {\n      customerMessage: `Entendi 👍\\n\\nQual é a espessura do porcelanato?\\n\\n1️⃣ *7 mm*\\n2️⃣ *8 mm ou mais*\\n\\nSe for acima de 8 mm, vou pedir a medida exata em seguida.`,\n      sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'coleta_espessura'\n    });\n  }\n\n  if (stage === 'ask_thickness') {\n    if (msgLower === '1') {\n      state = { ...state, thicknessMm: 7, thicknessLabel: '7 mm', stage: 'ask_qty', firstContactAt, leadCreatedAt };\n      return finalPayload(state, {\n        customerMessage: `Perfeito. Agora me informe a *quantidade aproximada* de peças que você precisa.\\n\\n_Ex.: 80_`,\n        sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'coleta_quantidade'\n      });\n    }\n    if (msgLower === '2') {\n      state = { ...state, stage: 'ask_thickness_exact', firstContactAt, leadCreatedAt };\n      return finalPayload(state, {\n        customerMessage: `Me informe a *espessura exata do porcelanato* em milímetros.\\n\\n_Ex.: 9,5 mm_`,\n        sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'coleta_espessura_exata'\n      });\n    }\n    return finalPayload(state, {\n      customerMessage: `Por favor, responda:\\n\\n1️⃣ 7 mm\\n2️⃣ 8 mm ou mais`,\n      sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'validacao_espessura'\n    });\n  }\n\n  if (stage === 'ask_thickness_exact') {\n    const mm = parseThickness(msg);\n    if (!Number.isFinite(mm) || mm < 8) {\n      return finalPayload(state, {\n        customerMessage: `Não consegui entender a espessura.\\n\\nPor favor, envie no formato: *8*, *8,5* ou *9 mm*.`,\n        sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'validacao_espessura_exata'\n      });\n    }\n    state = { ...state, thicknessMm: mm, thicknessLabel: `${String(mm).replace('.', ',')} mm`, stage: 'ask_qty', firstContactAt, leadCreatedAt };\n    return finalPayload(state, {\n      customerMessage: `Perfeito. Agora me informe a *quantidade aproximada* de peças que você precisa.\\n\\n_Ex.: 80_`,\n      sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'coleta_quantidade'\n    });\n  }\n\n  if (stage === 'ask_qty') {\n    const qty = parseQty(msg);\n    if (!Number.isFinite(qty) || qty <= 0) {\n      return finalPayload(state, {\n        customerMessage: `Me envie a *quantidade* somente em número.\\n\\n_Ex.: 120_`,\n        sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'validacao_quantidade'\n      });\n    }\n    state = { ...state, quantity: qty, stage: 'ask_cep', firstContactAt, leadCreatedAt };\n    return finalPayload(state, {\n      customerMessage: `Ótimo. Agora me envie o *CEP de entrega* com 8 números para eu calcular o frete.\\n\\n_Ex.: 37550360_`,\n      sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'coleta_cep'\n    });\n  }\n\n  if (stage === 'ask_cep') {\n    const cep = onlyDigits(msg);\n    if (cep.length !== 8) {\n      return finalPayload(state, {\n        customerMessage: `CEP inválido.\\n\\nPor favor, envie somente os 8 números do CEP.`,\n        sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'validacao_cep'\n      });\n    }\n    const cepData = await consultarCep(cep);\n    if (!cepData) {\n      return finalPayload(state, {\n        customerMessage: `Não consegui validar esse CEP.\\n\\nPode conferir e enviar novamente?`,\n        sendCustomer: true, leadStatus: 'coletando_dados', eventType: 'cep_nao_encontrado'\n      });\n    }\n    const quantity = Number(state.quantity || 0);\n    const unitPrice = state.code === 'inox_304' ? CONFIG.price304 : CONFIG.price430;\n    const discount = quantity > CONFIG.bonusQtyMin ? Number((quantity * CONFIG.bonusPerPiece).toFixed(2)) : 0;\n    const subtotal = Number((quantity * unitPrice).toFixed(2));\n    const eligibleFreeShipping = CONFIG.freeShippingStates.includes(cepData.uf) && quantity >= CONFIG.freeShippingQtyAbove;\n    const specialCondition = quantity > CONFIG.specialConditionQtyAbove;\n\n    let shipping;\n    if (eligibleFreeShipping) {\n      shipping = { mode: 'free', label: `Frete grátis para ${cepData.uf} em pedidos acima de 100 unidades.`, price: 0, service: 'Frete grátis', deliveryRange: null };\n    } else {\n      shipping = await cotarMelhorEnvio(cep, quantity, unitPrice);\n    }\n\n    const total = Number((subtotal - discount + (shipping.price || 0)).toFixed(2));\n    const deliveryText = shipping.deliveryRange?.min\n      ? `Prazo estimado: ${shipping.deliveryRange.min}${shipping.deliveryRange.max && shipping.deliveryRange.max !== shipping.deliveryRange.min ? ` a ${shipping.deliveryRange.max}` : ''} dia(s) úteis`\n      : null;\n    const shippingText = shipping.mode === 'free'\n      ? 'Frete grátis'\n      : shipping.mode === 'quoted'\n        ? `${shipping.service}: ${formatMoney(shipping.price)}`\n        : 'Vamos cotar o melhor envio para sua região';\n\n    const quoteLines = [\n      `💼 *Orçamento ${CONFIG.companyName}*`,\n      ``,\n      `🔩 Produto: ${CONFIG.productName}`,\n      `• Material: ${state.label}`,\n      `• Espessura do porcelanato: ${state.thicknessLabel}`,\n      `• Quantidade: ${quantity} unidade(s)`,\n      `• Cada peça acompanha bucha prego`,\n      ``,\n      `━━━━━━━━━━━━━━`,\n      `💰 *Resumo financeiro*`,\n      `• Valor unitário: ${formatMoney(unitPrice)}`,\n      `• Subtotal: ${formatMoney(subtotal)}`,\n      quantity > CONFIG.bonusQtyMin ? `• Bônus por volume: -${formatMoney(discount)}` : null,\n      shipping.mode === 'free' ? `• Frete: ${shipping.label}` : null,\n      shipping.mode === 'quoted' ? `• Frete (${shipping.service}): ${formatMoney(shipping.price)}` : null,\n      shipping.mode === 'manual' ? `• Frete: ${shipping.label}` : null,\n      `• Total estimado: *${formatMoney(total)}*`,\n      ``,\n      `📍 Entrega: ${cepData.localidade}/${cepData.uf}`,\n      deliveryText,\n      specialCondition ? `⭐ *Condições especiais para pedidos acima de 200 unidades.*` : null,\n      `🔗 Comprar agora: ${CONFIG.pagbankUrl}`,\n      ``,\n      `✅ Orçamento enviado! Nosso consultor entrará em contato em breve pelo WhatsApp para finalizar seu pedido.\\n\\n_Horário de atendimento: seg–sex, 8h–18h._`\n    ].filter(Boolean);\n\n    state = {\n      ...state, stage: 'human', mode: 'human', cep,\n      city: cepData.localidade, state: cepData.uf,\n      bairro: cepData.bairro, street: cepData.logradouro,\n      specialCondition, shipping, subtotal, discount, total, unitPrice,\n      firstContactAt, leadCreatedAt\n    };\n\n    return finalPayload(state, {\n      customerMessage: quoteLines.join('\\n'),\n      sellerMessage: buildSellerLeadMessage({\n        ...state, phone: incoming.phone, name: incoming.name,\n        inoxLabel: state.label, shippingText, totalText: formatMoney(total),\n        stage: 'aguardando_humano'\n      }, 'Lead pronto para fechamento'),\n      sendCustomer: true, sendSeller: true,\n      leadStatus: 'aguardando_humano',\n      quote: { inox: state.label, thickness: state.thicknessLabel, quantity, unitPrice, subtotal, discount, shipping, total, city: cepData.localidade, state: cepData.uf, cep, pagbankUrl: CONFIG.pagbankUrl },\n      eventType: 'orcamento_enviado'\n    });\n  }\n\n  return finalPayload({ stage: 'menu', mode: 'bot', firstContactAt, leadCreatedAt }, {\n    customerMessage: menuMessage(), sendCustomer: true,\n    leadStatus: 'menu', eventType: 'fallback_menu'\n  });\n}\n\nreturn await main();"},"id":"23630d76-919c-4340-a1e3-43c2818b76dd","name":"Motor Comercial V2","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1056]},{"parameters":{"operation":"set","key":"={{ $json.stateKey }}","value":"={{ JSON.stringify($json.stateToSave || {}) }}"},"id":"7bfb6dbe-5efb-4a05-a554-6a4c5d10b73d","name":"Salvar Estado Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1152,944],"credentials":{"redis":{"id":"gOABTbu6U7nsu8Jq","name":"Redis account"}},"continueOnFail":true},{"parameters":{"operation":"set","key":"={{ $json.leadKey }}","value":"={{ JSON.stringify($json.leadSnapshot || {}) }}"},"id":"16be8f34-59e0-4d60-9395-cd882ea78f37","name":"Salvar Lead Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1152,1088],"credentials":{"redis":{"id":"gOABTbu6U7nsu8Jq","name":"Redis account"}},"continueOnFail":true},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1lY3THxgWzrKOaD9b_5CCo40dul7xgNokKCI1ljXpINQ","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"phone":"={{ $json.leadRow.phone }}","name":"={{ $json.leadRow.name }}","status":"={{ $json.leadRow.status }}","stage":"={{ $json.leadRow.stage }}","mode":"={{ $json.leadRow.mode }}","inox":"={{ $json.leadRow.inox }}","thickness":"={{ $json.leadRow.thickness }}","quantity":"={{ $json.leadRow.quantity }}","cep":"={{ $json.leadRow.cep }}","city":"={{ $json.leadRow.city }}","state":"={{ $json.leadRow.state }}","subtotal":"={{ $json.leadRow.subtotal }}","discount":"={{ $json.leadRow.discount }}","shipping_mode":"={{ $json.leadRow.shipping_mode }}","shipping_price":"={{ $json.leadRow.shipping_price }}","shipping_service":"={{ $json.leadRow.shipping_service }}","total":"={{ $json.leadRow.total }}","special_condition":"={{ $json.leadRow.special_condition }}","tags":"={{ $json.leadRow.tags }}","pagbank_url":"={{ $json.leadRow.pagbank_url }}","first_contact_at":"={{ $json.leadRow.first_contact_at }}","last_interaction_at":"={{ $json.leadRow.last_interaction_at }}","updated_at":"={{ $json.leadRow.updated_at }}","source":"={{ $json.leadRow.source }}"},"matchingColumns":["phone"],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"stage","displayName":"stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"inox","displayName":"inox","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"thickness","displayName":"thickness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"quantity","displayName":"quantity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"cep","displayName":"cep","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"subtotal","displayName":"subtotal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"discount","displayName":"discount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"shipping_mode","displayName":"shipping_mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"shipping_price","displayName":"shipping_price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"shipping_service","displayName":"shipping_service","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"total","displayName":"total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"special_condition","displayName":"special_condition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"pagbank_url","displayName":"pagbank_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"first_contact_at","displayName":"first_contact_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"last_interaction_at","displayName":"last_interaction_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"be238ef1-9969-41fb-a696-1a409a50319c","name":"Google Sheets Leads CRM","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1392,944],"retryOnFail":true,"waitBetweenTries":3000,"maxTries":3,"credentials":{"googleApi":{"id":"rlksSbrsIzRh9MGF","name":"Google Service Account account"}},"continueOnFail":true},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1lY3THxgWzrKOaD9b_5CCo40dul7xgNokKCI1ljXpINQ","mode":"id"},"sheetName":{"__rl":true,"value":"Eventos","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $json.eventRow.timestamp }}","phone":"={{ $json.eventRow.phone }}","name":"={{ $json.eventRow.name }}","stage":"={{ $json.eventRow.stage }}","event_type":"={{ $json.eventRow.event_type }}","customer_message":"={{ $json.eventRow.customer_message }}","bot_message":"={{ $json.eventRow.bot_message }}","status":"={{ $json.eventRow.status }}"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"stage","displayName":"stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"event_type","displayName":"event_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"customer_message","displayName":"customer_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"cellFormat":"USER_ENTERED"}},"id":"6fa48855-df3e-41b1-96b6-bdda5c3f5558","name":"Google Sheets Eventos","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1392,1088],"retryOnFail":true,"waitBetweenTries":3000,"maxTries":3,"credentials":{"googleApi":{"id":"rlksSbrsIzRh9MGF","name":"Google Service Account account"}},"continueOnFail":true},{"parameters":{"jsCode":"const https = require('https');\nconst data = $input.first().json;\n\nfunction sendZapi(phone, message) {\n  const instanceId = '3F014370287EB1AB0ED286AA524A00CF';\n  const instanceToken = '6FBA0FCAFFDF48D8EB5C5414';\n  const clientToken = 'F4ac7d6e0b24c463684ed01e82e71757fS';\n\n  if (!instanceId || !instanceToken || !clientToken) {\n    return Promise.resolve({ ok: false, reason: 'Configure ZAPI_INSTANCE_ID, ZAPI_INSTANCE_TOKEN e ZAPI_CLIENT_TOKEN.' });\n  }\n  if (!phone || !message) {\n    return Promise.resolve({ ok: false, reason: 'Telefone ou mensagem ausente.' });\n  }\n\n  const body = JSON.stringify({ phone, message });\n\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.z-api.io',\n      path: `/instances/${instanceId}/token/${instanceToken}/send-text`,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Client-Token': clientToken,\n        'Content-Length': Buffer.byteLength(body)\n      }\n    }, (res) => {\n      let raw = '';\n      res.on('data', chunk => raw += chunk);\n      res.on('end', () => {\n        let parsed = null;\n        try { parsed = raw ? JSON.parse(raw) : null; } catch (e) {}\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, statusCode: res.statusCode, data: parsed, raw });\n      });\n    });\n    req.on('error', reject);\n    req.write(body);\n    req.end();\n  });\n}\n\nconst logs = [];\n\nif (data.sendCustomer && data.customerMessage) {\n  const r = await sendZapi(data.phone, data.customerMessage);\n  logs.push({ target: 'cliente', phone: data.phone, result: r });\n}\n\nif (data.sendSeller && data.sellerMessage) {\n  const r = await sendZapi('5535999619463', data.sellerMessage);\n  logs.push({ target: 'comercial', phone: '5535999619463', result: r });\n}\n\nreturn [{ json: { ...data, deliveryLogs: logs } }];"},"id":"dede5012-3819-40fa-aad2-e334ded6ea6b","name":"Enviar Mensagens Z-API","type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,1056]}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Normalizar Entrada","type":"main","index":0}]]},"Normalizar Entrada":{"main":[[{"node":"Filtro Ignorar","type":"main","index":0}]]},"Filtro Ignorar":{"main":[[{"node":"Buscar Estado Redis","type":"main","index":0}]]},"Buscar Estado Redis":{"main":[[{"node":"Motor Comercial V2","type":"main","index":0}]]},"Motor Comercial V2":{"main":[[{"node":"Salvar Estado Redis","type":"main","index":0},{"node":"Salvar Lead Redis","type":"main","index":0},{"node":"Google Sheets Leads CRM","type":"main","index":0},{"node":"Google Sheets Eventos","type":"main","index":0},{"node":"Enviar Mensagens Z-API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5823872b-d9f1-4f75-9dba-a3933f0bc6be","activeVersionId":"5823872b-d9f1-4f75-9dba-a3933f0bc6be","versionCounter":12,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-19T14:12:09.681Z","createdAt":"2026-03-19T14:12:09.681Z","role":"workflow:owner","workflowId":"b8eeONkcAbOrMy4T","projectId":"W6b409AuG4gCGwC3","project":{"updatedAt":"2026-03-19T14:04:31.549Z","createdAt":"2026-03-19T14:03:41.812Z","id":"W6b409AuG4gCGwC3","name":"Marcos Mota <adm@pousinox.com.br>","type":"personal","icon":null,"description":null,"creatorId":"b51ce57f-052d-4868-b4db-4451f4cce265"}}],"versionMetadata":{"name":"v2.6","description":""}}]